<h1>Dataframes Merge Example in Pandas</h1>

**Welcome!** In this notebook we will add the latitude and the longitude coordinates of each neighborhood which was made [here](https://github.com/spiel74/Coursera_Capstone/blob/master/Web-scrape-Python.ipynb) by scraping the postal codes table of [List_of_postal_codes_of_Canada:_M](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) wikipedia page. The resulting data can be found on [toronto_data](https://drive.google.com//uc?export=download&id=1nOznC1KPfaBqMIAzUefDarZPZdiGgeAD). The geographical coordinates of each postal code can be found both on [geospatial_data](http://cocl.us/Geospatial_data) or [geospatial_data2](https://drive.google.com//uc?export=download&id=1RhPiSeVzsvINViztDZk0vjDfmsYuo5vp).

Double-click __here__ for Geocoder package solution of getting coordinates which is unreliable.
<!-- 
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

postal_code='M9V'
# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]
print(latitude)
print(longitude)
-->

The pandas library will be used to convert data into tabular structure and efficiently manipulate data with predefined functions.

In [16]:
import pandas as pd
#reading toronto table data
df_tab=pd.read_csv('https://drive.google.com//uc?export=download&id=1nOznC1KPfaBqMIAzUefDarZPZdiGgeAD')
#printing first five rows
df_tab.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [17]:
# df_geo=pd.read_csv('http://cocl.us/Geospatial_data')
#reading geospatial data
df_geo=pd.read_csv('https://drive.google.com//uc?export=download&id=1RhPiSeVzsvINViztDZk0vjDfmsYuo5vp')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
#changing a specific column of df_geo to match column of df_tab
df_geo.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
df_geo.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [23]:
#merging df_tab and df_geo having common column 'Postcode'
df_tab_geo=pd.merge(df_tab, df_geo, on="Postcode")
df_tab_geo.head()
# print('\n')
# #checking for particular postal code
# print(df_tab_geo.loc[df_tab_geo['Postcode']=='M5G'])

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [24]:
#saving to a csv file
df_tab_geo.to_csv('toronto_neighburhoods_geo.csv',index=False)

This notebook is part of an assignment of a course on **Coursera** called *Applied Data Science Capstone*. The course can be taken online by clicking [here](http://cocl.us/DP0701EN_Coursera_Week3_LAB2).